html{
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: greenyellow;
    margin: 15px auto;
}
a:hover, a:focus{
    font-style: italic;
    color:blue
}
header h1{
    font-size: 175%;
    color: red;
    text-indent: 30px;
}
header h2{
    font-size: 130%;
    color: red;
    text-indent: 30px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(red, red, red);
}
main{
    clear: left;
}
main h3{
    clear: left;
    margin-top: 3em;
    font-size: 105%;
}
#list{
    line-height: 1.5em;
}
footer.copyright p{
    text-align: center;
    font-size: 80%;
} 