html{
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: greenyellow;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-color: url("/images/cowboys.png") right repeat-y;
    background-attachment: fixed;
}
a:hover, a:focus{
    font-style: italic;
    color:blue
}
header h1{
    font-size: 175%;
    color: red;
    text-indent: 30px;
}
header h2{
    font-size: 130%;
    color: red;
    text-indent: 30px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(red, red, red);
}
main{
    clear: left;
}
main h3{
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px yellow;
    padding: 1em;
}
#list{
    line-height: 1.5em;
}
footer.copyright p{
    text-align: center;
    font-size: 80%;
} 